# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build artifacts
dist/
build/

# Ignore specific files
secret-key.txt

# Ignore npm debug logs
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db
